{{#include}}header{{/include}}
  <body>
    <h1>example</h1>
    <p>
      {{ value1 }} - {{ value2 }}
    </p>
	<h2>args</h2>
	{{#args}}
		<p>{{.}}</p>
	{{/args}}
	</p>
{{#include}}footer{{/include}}
