<html>
<body>
<form action="{{requestUri}}" method="{{requestMethod}}">
	<input type="text" name="name" value="new.yml"/><br />
	<textarea rows="5" cols="60" name="body"></textarea><br />
	<button type="subject">send</button>
</form>
</body>
</html>
